<div class="sin-up-page">
  <div class="sin-up-page-image"></div>
  <div class="header-registration-page-link">
    <%= link_to "R.Property", root_path, class: "property-logo" %>
  </div>
  <div class="sin-up-page-main">
  <%= form_for @individual do |f| %>
    <%= render "devise/shared/error_messages", resource: @individual %>
    <div class="user-registration-header">
      <h1 class="user-registration-header-logo">新規会員登録</h1>
    </div>
    <p class="registration-note">
      当サイトを利用していただくために、下記の手順でお客様の情報をご入力いただきます。(登録無料)
      <br>
      一度ご登録いただければ、2回目以降はメールアドレスとパスワードの入力だけでご利用いただけます。
    </p>
    <div class="user-registration-form">
      <h3 class="user-registration-form-title">お客様情報</h3>
    </div>
    <table class="user-registration-input">
      <tbody>
        <tr>
          <th>お名前（全角）</th>
          <td class="form-text-box-name">
            <span class="normal-text">　姓</span>
            <%= f.text_field :last_name, autofocus: true, style: "width: 7rem" %>
            <span class="small-text">例：山田　</span>
            <span class="normal-text">　　名</span>
            <%= f.text_field :first_name, autofocus: true, style: "width: 7rem" %>
            <span class="small-text">例：太郎</span>
          </td>
        </tr>
        <tr>
          <th>お名前（カナ）</th>
          <td class="form-text-box">
            <span class="normal-text">セイ</span>
            <%= f.text_field :last_name_kana, autofocus: true, style: "width: 7rem" %>
            <span class="small-text">例：ヤマダ</span>
            <span class="normal-text">　メイ</span>
            <%= f.text_field :first_name_kana, autofocus: true, style: "width: 7rem" %>
            <span class="small-text">例：タロウ</span>
          </td>
        </tr>
        <tr>
          <th>生年月日</th>
          <td class="form-select-box">
                    <%= raw sprintf(
                    f.date_select(
                      :birth_day,
                      class:'select-birth',
                      id:"birth-date",
                      use_month_numbers: true,
                      prompt:'--',
                      start_year: 1930,
                      end_year: (Time.now.year - 5),
                      date_separator: '%s'),
                    " 年 ", " 月 ") + " 日 " %>
          </td>
        </tr>
        <tr>
          <th>電話番号</th>
          <td class="form-text-box">
            <%= f.collection_select :phone_id, Phone.all, :id, :name, {}, {class:"collection-select-phone", id:"phone", style: "height: 2rem" } %>
            <%= f.text_field :phone_number, style: "width: 10rem", maxlength: 11 %>
            <span class="small-text">（半角数字）  例：08012345678</span>
          </td>
        </tr>
      </tbody>
    </table>
    <div class="actions">
      <%= f.submit "登録する" %>
    </div>
  <% end %>
  </div>
<div>
<%= render "shared/footer" %>
