  <%# /管理者用のヘッダーリンクリスト/ %>
  <% if admin_signed_in? %>
    <div class="admin-header">
      <ul class="admin-header-links">
        <li class="admin-header-link"><%= link_to "入居者情報リスト", "#", class: "admin-header-logo" %></li>
        <li class="admin-header-link"><%= link_to "賃貸管理情報", "#", class: "admin-header-logo" %></li>
        <li class="admin-header-link"><%= link_to "申込者情報リスト", "#", class: "admin-header-logo" %></li>
        <li class="admin-header-link"><%= link_to "新規物件情報登録", new_building_path, class: "admin-header-logo" %></li>
        <li class="admin-header-link"><%= link_to "＃＃＃＃＃＃＃＃", "#", class: "admin-header-logo" %></li>
        <li class="admin-header-link"><%= link_to "＃＃＃＃＃＃＃＃", "#", class: "admin-header-logo" %></li>
      </ul>
    </div>
  <% end %>
  <%# ///管理者用のヘッダーリンクリスト/// %>