  <%# /管理者用のヘッダーリンクリスト/ %>
  <% if admin_signed_in? %>
    <div class="admin-header">
      <ul class="admin-header-links">
        <li class="admin-header-link"><%= link_to "<i class='fa-regular fa-address-book' style='margin-right: 10px;'></i>入居者リスト".html_safe, "#", class: "admin-header-logo" %></li>
        <li class="admin-header-link"><%= link_to "<i class='fa-solid fa-file-invoice' style='margin-right: 10px;'></i>賃貸管理情報".html_safe, "#", class: "admin-header-logo" %></li>
        <li class="admin-header-link"><%= link_to "<i class='fa-solid fa-address-book' style='margin-right: 10px;'></i>申込者リスト".html_safe, "#", class: "admin-header-logo" %></li>
        <li class="admin-header-link"><%= link_to "<i class='fa-solid fa-file-circle-plus' style='margin-right: 10px;'></i>新規物件情報登録".html_safe, new_building_path, class: "admin-header-logo" %></li>
        <li class="admin-header-link"><%= link_to "＃＃＃＃＃＃＃＃", "#", class: "admin-header-logo" %></li>
        <li class="admin-header-link"><%= link_to "<i class='fa-solid fa-arrow-right-from-bracket' style='margin-right: 10px;'></i>ログアウト".html_safe, destroy_admin_session_path, method: :delete, class: "admin-header-logo" %></li>
      </ul>
    </div>
  <% end %>
  <%# ///管理者用のヘッダーリンクリスト/// %>