<%# CSS・・・assets/stylesheets/shared/footer.css %>
<footer>
  <div class="footer-link-lists">
    <h1 class="link-space">|</h1>
      <%= link_to "サイトマップ", "#", class: "footer-link" %>
    <h1 class="link-space">|</h1>
      <%= link_to "プライバシーポリシー", "#", class: "footer-link" %>
    <h1 class="link-space">|</h1>
      <%= link_to "利用規約", "#", class: "footer-link" %>
    <h1 class="link-space">|</h1>
      <%= link_to "会社概要（運営会社)", "#", class: "footer-link" %>
    <h1 class="link-space">|</h1>
      <%= link_to "お知らせ", "#", class: "footer-link" %>
    <h1 class="link-space">|</h1>
  </div>
  <div class="©-logo-list">
    <%= link_to "©2023 R.Property Co", "/", class: "©-logo" %>
  </div>
</footer>