<%# 下部広告部分 %>
<div class='ad-footer-contents'>
  <p class='ad-footer-explain'>
    アプリから登録も！
  </p>
  <h2 class='ad-footer-title'>
    無料ダウンロード
  </h2>
  <div class='store-btn'>
    <%= link_to image_tag("app-store.svg", class:"apple-btn"), "#" %>
    <%= link_to image_tag("google-play.png", class:"google-btn"), "#" %>
  </div>
</div>
<%# /下部広告部分 %>

<div class='footer'>
  <div class='footer-contents'>
    <div class='furima-details'>
      <h2 class='footer-content-head'>R.Propertyについて</h2>
      <ul>
        <li><%= link_to '会社概要（運営会社)', "#", class: "footer-link" %></li>
        <li><%= link_to 'プライバシーポリシー', "#", class: "footer-link" %></li>
        <li><%= link_to '利用規約', "#", class: "footer-link" %></li>
        <li><%= link_to 'お知らせ', "#", class: "footer-link" %></li>
      </ul>
    </div>
    <div class='furima-details'>
      <h2 class='footer-content-head'>サイトマップ</h2>
      <ul>
        <li><%= link_to '賃貸マンション', "#", class: "footer-link" %></li>
        <li><%= link_to '賃貸アパート', "#", class: "footer-link" %></li>
      </ul>
    </div>
    <div class='furima-details'>
      <h2 class='footer-content-head'>お問い合わせ</h2>
      <ul>
        <li><%= link_to '個人の方', "#", class: "footer-link" %></li>
        <li><%= link_to '法人の方', "#", class: "footer-link" %></li>
      </ul>
    </div>
  </div>
  <p>©2023 R.Property Co</p>
</div>