  <% if user_signed_in? %>
    <% case current_user.status_id %>
    <%# 入居者の方 %>
    <% when 2 %>
    <div class="admin-header">
      <ul class="admin-header-links">
        <li class="admin-header-link"><%= link_to "<i class='fa-solid fa-circle-user' style='margin-right: 10px;'></i>#{current_user.nickname}のページ".html_safe, user_residents_path(current_user.id), class: "admin-header-logo" %></li>
        <li class="admin-header-link"><%= link_to "<i class='fa-solid fa-screwdriver-wrench' style='margin-right: 10px;'></i>メンテナンスリクエスト".html_safe, "#", class: "admin-header-logo" %></li>
        <li class="admin-header-link"><%= link_to "<i class='fa-regular fa-clipboard' style='margin-right: 10px;'></i>マンション掲示板".html_safe, "#", class: "admin-header-logo" %></li>
        <li class="admin-header-link"><%= link_to "<i class='fa-solid fa-wallet' style='margin-right: 10px;'></i>家賃支払".html_safe, "#", class: "admin-header-logo" %></li>
        <li class="admin-header-link"><%= link_to "<i class='fa-solid fa-file-contract' style='margin-right: 10px;'></i>契約書類フォルダー".html_safe, "#", class: "admin-header-logo" %></li>
        <li class="admin-header-link"><%= link_to "<i class='fa-solid fa-arrow-right-from-bracket' style='margin-right: 10px;'></i>ログアウト".html_safe, destroy_user_session_path, method: :delete, class: "admin-header-logo" %></li>
      </ul>
    </div>
    <%# 申込者の方 %>
    <% when 3 %>
    <div class="admin-header">
      <ul class="admin-header-links">
        <li class="admin-header-link"><%= link_to "<i class='fa-solid fa-circle-user' style='margin-right: 10px;'></i>#{current_user.nickname}のページ".html_safe, user_applicants_path(current_user.id), class: "admin-header-logo" %></li>
        <li class="admin-header-link"><%= link_to "<i class='fa-solid fa-magnifying-glass' style='margin-right: 10px;'></i>物件検索ページ".html_safe, search_homes_path, class: "admin-header-logo" %></li>
        <li class="admin-header-link"><%= link_to "<i class='fa-solid fa-file-signature' style='margin-right: 10px;'></i>契約書類一覧".html_safe, "#", class: "admin-header-logo" %></li>
        <li class="admin-header-link"><%= link_to "<i class='fa-solid fa-file-contract' style='margin-right: 10px;'></i>手続きの流れ".html_safe, "#", class: "admin-header-logo" %></li>
        <li class="admin-header-link"><%= link_to "<i class='fa-solid fa-file-circle-question' style='margin-right: 10px;'></i>よくある質問".html_safe, "#", class: "admin-header-logo" %></li>
        <li class="admin-header-link"><%= link_to "<i class='fa-solid fa-arrow-right-from-bracket' style='margin-right: 10px;'></i>ログアウト".html_safe, destroy_user_session_path, method: :delete, class: "admin-header-logo" %></li>
      </ul>
    </div>
    <% end %>
  <% end %>
