<div class="main-property-image">
  <%= link_to "R.Property", root_path, class: "property-logo" %>
  <div class="page-line"></div>
  <header>
  </header>
  <main>
    <div class="page-line"></div>
  <%# ユーザー登録とログインボタン %>
    <div class="user-access-text">
      <h2 class="are-you-member">まずは会員登録をしよう</h2>
    </div>
    <div class="user-input">
      <input type="checkbox" id="checkbox_1" onclick="handleCheckboxClick(this)" checked>
      <label class="label-btn" for="checkbox_1">入居者の方</label>
      <input type="checkbox" id="checkbox_2" onclick="handleCheckboxClick(this)">
      <label class="label-btn" for="checkbox_2">申込者の方</label>
      <table class="user-input-link">
        <tr>
          <td id="tr1" style="display:block;"><%= link_to "Register", new_user_registration_path, class: "user-access-link" %></td>
        </tr>
        <tr>
          <td id="tr2" style="display:none;"><%= link_to "Apply", new_user_registration_path, class: "user-access-link" %></td>
        </tr>
      </table>
    </div>
    <div class="user-access-text">
      <h2 class="are-you-member">メンバーの方はこちら</h2>
    </div>
    <div class="user-access">
      <%= link_to "Log in", new_user_session_path, class: "user-access-link" %>
    </div>
    <div class="page-line"></div>
  <%# //ユーザー登録とログインボタン// %>
    <div class="page-line"></div>
  <%# 会社連絡先情報コラム %>
    <div class="contact-information">
      <ul class="contact-information-list">
        <li><%= link_to "お問合せ", "#", class: "contact-logo" %></li>
        <li><%= link_to "〒107-0052 東京都 港区 赤坂 5-10-123", "#", class: "contact-information-link" %></li>
        <li><%= link_to "TEL: 080-7777-7777", "#", class: "contact-information-link" %></li>
        <li><%= link_to "FAX: 080-7777-7777", "#", class: "contact-information-link" %></li>
        <li><%= link_to "Email: r.property@mail.com", "#", class: "contact-information-link" %></li>
      </ul>
      <%= link_to image_tag("company_logo.png", class: "company-logo-in-contact"), "/" %>
    </div>
  <%# //会社連絡先情報コラム// %>
  </main>
  <footer>
    <div class="footer-link-lists">
      <h1 class="link-space">|</h1><%= link_to "サイトマップ", "#", class: "footer-link" %><h1 class="link-space">|</h1>
      <%= link_to "プライバシーポリシー", "#", class: "footer-link" %><h1 class="link-space">|</h1>
      <%= link_to "利用規約", "#", class: "footer-link" %><h1 class="link-space">|</h1>
      <%= link_to "会社概要（運営会社)", "#", class: "footer-link" %><h1 class="link-space">|</h1>
    </div>
    <div class="©-logo-list">
      <%= link_to "©2023 R.Property Co", "/", class: "©-logo" %>
    </div>
  </footer>
</div>
