<%= render "shared/header" %>

<main>
  <div class="horizon-line-space">
    <div class="horizon-line"></div>
  </div>
  <%= render "shared/admin-header"%>
  <%= render "shared/users-header" %>
  <%# /ユーザー登録とログインボタン/ %>
  <% unless user_signed_in? || admin_signed_in? %>
  <div class="user-access-panel">
    <div class="user-access-side">
      <div class="user-access-side-image-left"></div>
    </div>
    <div class="user-access-middle">
      <div class="user-access-text">
        <h2 class="user-access-text-label">メンバーの方はこちら</h2>
      </div>
      <div class="user-input">
        <div class="label-btns">
          <input type="checkbox" id="checkbox_1" onclick="handleCheckboxClick(this)" checked>
          <label class="label-btn" for="checkbox_1">入居者の方</label>
          <input type="checkbox" id="checkbox_2" onclick="handleCheckboxClick(this)">
          <label class="label-btn" for="checkbox_2">申込者の方</label>
        </div>
        <div class="label-btns">
          <table class="user-input-link">
            <tr>
              <td id="tr1" style="display:block;"><%= link_to "<i class='fa-solid fa-arrow-right-to-bracket' style='margin-right: 10px;'></i>Log in".html_safe, new_user_session_path, class: "user-access-link1" %></td>
            </tr>
            <tr>
              <td id="tr2" style="display:none;"><%= link_to "<i class='fa-solid fa-arrow-right-to-bracket' style='margin-right: 10px;'></i>Log in".html_safe, new_user_session_path, class: "user-access-link2" %></td>
            </tr>
          </table>
        </div>
      </div>
      <div class="user-access-text">
        <h2 class="user-access-text-label">こちらから会員登録</h2>
      </div>
      <div class="user-access">
        <%= link_to "<i class='fa-solid fa-user-plus' style='margin-right: 10px;'></i>Register".html_safe, new_user_registration_path, class: "user-access-link" %>
      </div>
    </div>
    <div class="user-access-side">
      <div class="user-access-side-image-right"></div>
    </div>
  </div>
  <% end %>
  <%# ///ユーザー登録とログインボタン/// %>

  <div class="horizon-line-space">
    <div class="horizon-line"></div>
  </div>

  <%# /会社連絡先情報コラム/ %>
  <div class="contact-information-side">
    <div class="contact-information-background"></div>
    <div class="contact-information">
      <ul class="contact-information-list">
        <li><%= link_to "お問合せ", "#", class: "contact-logo" %></li>
        <li><%= link_to "〒107-0052 東京都 港区 赤坂 5-10-123", "#", class: "contact-information-link" %></li>
        <li><%= link_to "TEL: 080-7777-7777", "#", class: "contact-information-link" %></li>
        <li><%= link_to "FAX: 080-7777-7777", "#", class: "contact-information-link" %></li>
        <li><%= link_to "Email: r.property@mail.com", "#", class: "contact-information-link" %></li>
      </ul>
      <div class="link link-hover">
        <%= link_to image_tag("company_logo.png", class: "company-logo-in-contact"), "/" %>
        <div class="dropDown">
          <ul class="dropDown__list">
            <% unless user_signed_in? %>
              <% if admin_signed_in? %>
              <li class="dropDown__item"><%= link_to "logout", destroy_admin_session_path, method: :delete, class: "dropDown__link" %></li>
              <% else %>
              <li class="dropDown__item"><%= link_to "login", new_admin_session_path, class: "dropDown__link" %></li>
              <% end %>
            <% end %>
          </ul>
        </div>
      </div>
    </div>
  </div>
  <%# ///会社連絡先情報コラム/// %>

  <div class="horizon-line-space">
    <div class="horizon-line"></div>
  </div>
</main>

<%= render "shared/footer" %>
