<%= render "shared/header" %>
<div class='main'>
  <%# R.PROPERTYが選ばれる3つの理由部分 %>
  <div class='select-reason-contents'>
    <h2 class='title'>
      R.PROPERTYが選ばれる3つの理由
    </h2>
    <ul class='reason-lists'>
      <li class='list'>
        <%= image_tag "furima-intro01.png", class:"list-pict" %>
        <span class='reason-list-number'>1</span>
        <h3 class='reason-list-text'>
          <span class='reason-list-blue-text'>アプリ</span>
          で簡単物件探し
        </h3>
        <p class='reason-list-description'>
          スマホで入力するだけで簡単に申し込みできる
        </p>
      </li>
      <li class='list'>
        <%= image_tag "furima-intro02.png", class:"list-pict" %>
        <span class='reason-list-number'>2</span>
        <h3 class='reason-list-text'>
          <span class='reason-list-blue-text'>シンプル</span>
          で使いやすい
        </h3>
        <p class='reason-list-description'>
          めんどくさい入力は必要なく、検索も手続きもスムーズ！
        </p>
      </li>
      <li class='list'>
        <%= image_tag "furima-intro03.png", class:"list-pict" %>
        <span class='reason-list-number'>3</span>
        <h3 class='reason-list-text'>
          <span class='reason-list-blue-text'>オンライン</span>
          に対応
        </h3>
        <p class='reason-list-description'>
          入居後の家賃の支払いなどもアプリひとつで！
        </p>
      </li>
    </ul>
  </div>
  <%# /R.PROPERTYが選ばれる3つの理由部分 %>

  <%# 画面中央の帯部分 %>
  <div class='ad-contents'>
    <h2 class='ad-title'>
      R.PROPERTYの取り組み
    </h2>
    <p class='ad-explain'>
      安心・安全な住まい
    </p>
    <p class='ad-explain'>
      コミュニティのサポート
    </p>
    <p class='ad-explain'>
      あなたにぴったりの部屋に出会えるかもしれません。
    </p>
  </div>
  <%# /画面中央の帯部分 %>

  <%# R.PROPERTYの特徴 %>
  <div class='feature-contents'>
    <h2 class='title'>
      R.PROPERTYの特徴
    </h2>
    <ul class='feature-lists'>
      <li class='list'>
        <%= image_tag "furima-intro04.png", class:"list-pict" %>
        <h3 class='feature-list-text'>
          デジタル化に特化
        </h3>
        <p class='feature-list-description'>
          スマホひとつで、いつでもどこでも簡単手続き
        </p>
      </li>
      <li class='list'>
        <%= image_tag "furima-intro05.png", class:"list-pict" %>
        <h3 class='feature-list-text'>
          コミュニティの充実
        </h3>
        <p class='feature-list-description'>
          地元のコミュニティーを大切にしています。
        </p>
      </li>
      <li class='list'>
        <%= image_tag "furima-intro06.png", class:"list-pict" %>
        <h3 class='feature-list-text'>
          様々な支払いに対応
        </h3>
        <p class='feature-list-description'>
          月々の家賃のお支払いは、オンラインで簡単支払い
        </p>
      </li>
    </ul>
  </div>
  <%# /R.PROPERTYの特徴 %>
<%= render "shared/footer" %>

