<%= render "shared/header" %>

<main>
  <%# /管理者用のヘッダーリンクリスト/ %>
  <% if admin_signed_in? %>
    <div class="admin-header">
      <ul class="admin-header-links">
        <li class="admin-header-link"><%= link_to "＃＃＃＃＃＃＃＃", "#", class: "admin-header-logo" %></li>
        <li class="admin-header-link"><%= link_to "新規部屋情報登録", new_room_path, class: "admin-header-logo" %></li>
        <li class="admin-header-link"><%= link_to "新規建物情報登録", new_building_path, class: "admin-header-logo" %></li>
        <li class="admin-header-link"><%= link_to "＃＃＃＃＃＃＃＃", "#", class: "admin-header-logo" %></li>
        <li class="admin-header-link"><%= link_to "＃＃＃＃＃＃＃＃", "#", class: "admin-header-logo" %></li>
        <li class="admin-header-link"><%= link_to "＃＃＃＃＃＃＃＃", "#", class: "admin-header-logo" %></li>
      </ul>
    </div>
  <% end %>
  <%# ///管理者用のヘッダーリンクリスト/// %>

  <div class="search-page">
    <div class="search-page-left">
      <div class="sort-links-title">
        <h2>以下で並び替え</h2>
      </div>
      <div class="sort-links-container">
        <%= link_to '部屋が広い順', search_homes_path(largest: "true"), class: 'sort-link' %>
        <%= link_to '部屋が狭い順', search_homes_path(smallest: "true"), class: 'sort-link' %>
        <%= link_to '築年数が浅い順', search_homes_path(newest: "true"), class: 'sort-link' %>
        <%= link_to '築年数が古い順', search_homes_path(oldest: "true"), class: 'sort-link' %>
        <%= link_to '家賃が高い順', search_homes_path(highest: "true"), class: 'sort-link' %>
        <%= link_to '家賃が低い順', search_homes_path(lowest: "true"), class: 'sort-link' %>
      </div>
    </div>
    <div class="search-page-right">
      <div class='search-page-rooms-title-box'>
        <h1 class='search-page-rooms-title'>検索結果一覧</h1>
      </div>
      <div class='search-page-rooms'>
        <% buildings = @rooms.group_by { |r| r.building.building_name } %>
        <% buildings.each do |building_name, rooms| %>
          <div class="search-page-rooms-row">
            <div class="search-page-rooms-left">
              <% building = Building.find_by(building_name: building_name) %>
              <% if building.image.attached? %>
                <%= image_tag building.image, class: "building-image" %>
              <% end %>
              <h3><%= building_name %></h3>
            </div>
            <div class="search-page-rooms-right">
              <table class="search-page-rooms-table">
                <thead class="search-page-rooms-heading">
                  <tr>
                    <th class="search-page-rooms-heading">部屋</th>
                    <th class="search-page-rooms-heading">間取り</th>
                    <th class="search-page-rooms-heading">家賃</th>
                    <th class="search-page-rooms-heading">管理料</th>
                    <th class="search-page-rooms-heading">お気に入り</th>
                    <th class="search-page-rooms-heading">お問い合わせ</th>
                    <th class="search-page-rooms-heading">詳細</th>
                  </tr>
                </thead>
                <tbody>
                  <% rooms.each do |room| %>
                    <tr class="search-page-rooms-r">
                      <td class="search-page-rooms-data"><%= room.room_number %></td>
                      <td class="search-page-rooms-data"><%= room.layout %></td>
                      <td class="search-page-rooms-data"><%= room.rent %>円</td>
                      <td class="search-page-rooms-data"><%= room.management_fee %>円</td>
                      <td class="search-page-rooms-data"><%= image_tag "star.png" ,class:"favorite-star-icon" ,width:"20",height:"20"%><%= link_to 'お気に入り', "#", class: "favorite-btn" %></td>
                      <td class="search-page-rooms-data"><%= link_to 'お問い合わせ', "#" %></td>
                      <td class="search-page-rooms-data"><%= link_to '詳細', "#" %></td>
                    </tr>
                  <% end %>
                </tbody>
              </table>
            </div>
          </div>
        <% end %>
      </div>
    </div>
  </div>
</main>

<%= render "shared/footer" %>
