<h3>検索ページ</h3>
<h3><%= link_to 'トップページへ戻る', root_path%></h3>
<div class='room-contents' id="detailed-search-result-wrapper">
  <%= search_form_for @q, url: search_homes_path, html: {id: "detailed-search-form"} do |f| %>
    <div class="search-field">
      <%= f.label :layout, '部屋のタイプ' %><br>
      <%= f.text_field :layout, placeholder: '部屋のタイプ' %>
    </div>
    <div class="search-field">
      <%= f.label :rent_gteq, '家賃'%><br>
      <%= f.number_field :rent_gteq %> 円以上
      <br>
      <%= f.number_field :rent_lteq %> 円以下
    </div>
    <%= f.submit '検索' %>
  <% end %>
  <ul class='item-lists' id="detailed-search-result">
    <% @rooms.each do |r| %>
      <li class='list'>
        <div class="posted-content">
          <%= image_tag r.image %><br>
          <%= r.layout %><br>
          <%= r.building.building_name %><br>
          <%# <%= link_to '詳細', item_path(item.id) %>
        </div>
      </li>
    <% end %>
  </ul>
</div>